<h1>Show Post</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @post.title %>
  </li>


  <%= if @post.image_link do %>
   <%= raw "<img src=\"#{@post.image_link}\">" %>
  <% end %>



  <li>
    <strong>Content:</strong>
    <%= @post.content %>
  </li>

  <li>
    <strong>Author:</strong>
    <%= @post.author %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.post_path(@conn, :edit, @post) %></span> |
<span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
